<app-header></app-header>

<div class="container__detail">
  <div class="detail">
    <div class="title">
      {{getDataService.title}}
    </div>

    <form [formGroup]="form">
      <!-- Servizio -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
          <span class="info">Inserire un numero da "0" a "10"</span>
        </div>
        <div>
          <input type="text" class="input" placeholder="Inserisci il tuo nome" formControlName="nomePersona">
        </div>
      </div>


      <div class="servizio">
        <div>
          <select formControlName="servizio" class="select">
            <option value="" disabled selected>Servizio *</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <div class="error__container" *ngIf="form.controls.servizio.invalid && form.controls.servizio.touched">
            <span class="error__label">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
      </div>

      <!-- Menu -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="menu" class="select">
            <option value="" disabled selected>Menu *</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <div class="error__container" *ngIf="form.controls.menu.invalid && form.controls.menu.touched">
            <span class="error__label">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
      </div>

      <!-- Prezzo -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="prezzo" class="select">
            <option value="" disabled selected>Prezzo *</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <div class="error__container" *ngIf="form.controls.prezzo.invalid && form.controls.prezzo.touched">
            <span class="error__label">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
      </div>

      <!-- Location -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="location" class="select">
            <option value="" disabled selected>Location *</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <div class="error__container" *ngIf="form.controls.location.invalid && form.controls.location.touched">
            <span class="error__label">
              Questo campo è obbligatorio
            </span>
          </div>
        </div>
      </div>

      <div class="container__button">
        <div class="button" (click)="onClickSubmit(form.value)">
          Invia
        </div>
      </div>

    </form>
  </div>
</div>

<!-- Modal Success -->
<div class="container__modal" *ngIf="getDataService.modalSuccess">
  <div class="modal">
    <div class="title">
      <span class="label__modal" style="color: #1b4332;">
        Dato Inserito Correttamente
        <div class="success-animation">
          <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
          </svg>
        </div>

        <div class="button__modal">
          <div class="button" (click)="onClickModal()">
            <a href=""> Home</a>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="map">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
