<app-header></app-header>

<div class="container__detail">
  <div class="detail">
    <div class="title">
      {{title}}
    </div>

    <form [formGroup]="form">
      <!-- Servizio -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
          <span class="info">Inserire un numero da "0" a "10"</span>
        </div>
        <div>
          <input type="text" class="input" placeholder="Inserisci il tuo nome" formControlName="nomePersona">
        </div>
      </div>


      <div class="servizio">
        <div>
          <select formControlName="servizio" class="select">
            <option value="" disabled selected>Servizio</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <!-- Menu -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="menu" class="select">
            <option value="" disabled selected>Menu</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <!-- Prezzo -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="prezzo" class="select">
            <option value="" disabled selected>Prezzo</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <!-- Location -->
      <div class="servizio">
        <div style="margin-bottom: 10px;">
        </div>
        <div>
          <select formControlName="location" class="select">
            <option value="" disabled selected>Location</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>

      <div class="container__button">
        <div class="button" (click)="onClickSubmit(form.value)">
          Invia
        </div>
      </div>

    </form>
  </div>
</div>
