<app-header></app-header>

<div class="container__list">
  <div class="list">
    <div class="title">
      <span class="label">Lista</span>
    </div>

    <form [formGroup]="formCity" class="formCity">
      <div class="container__city">
        <select (change)="onChangeForm(formCity.controls.city.value)" formControlName="city" class="city__select">
          <option selected>All</option>
          <option *ngFor="let city of dataArray">{{city}}</option>
        </select>
      </div>
    </form>


    <div class="container" *ngIf="spinner; else spin">
      <div class="card" *ngFor="let r of response">
        <img src="{{r.image}}" class="img">
        <div class="title" (click)="onClickDetail(r.id, r.nome)">
          <span class="label__title">{{r.nome}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spin>
  <div class="container__spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
