<div class="container__card" *ngIf="spinner; else spin">
  <div class="card" *ngFor="let r of response">
    <div class="title" (click)="onClickDetail(r.id, r.nome)">
      <img src="{{r?.image}}" class="img">
      <span class="label" >{{r.nome}}</span>
    </div>
  </div>

  <div class="container__list">
    <div class="list" (click)="onClistList()">
      <span>List</span>
    </div>
  </div>
</div>

<ng-template #spin >
  <div class="container__spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
