.container__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title,
.plus {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
}

.plus, .title {
  cursor: pointer;
}
