.container__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title,
.plus {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  z-index: 2;
}

.label {
  position: absolute;
  display: flex;
  width: 91%;
  justify-content: center;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
}

.fa-bars-container {
  z-index: 101;
}

.title {
  z-index: 101;
}

.plus,
.title {
  cursor: pointer;
}

//

.container__header__mobile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header__mobile {
  display: flex;
  width: 250px;
  background: #aca3a3;
  height: 100vh;
  z-index: 100;
  animation: showMenu 0.5s ease-in;
}

.container__item {
  display: flex;
  width: 89%;
  margin: 100px auto;
  flex-direction: column;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 0;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    background: rgb(131, 120, 120);
  }
}

.items {
  display: flex;
  width: 100%;
  height: 42px;
}

@keyframes showMenu {
  0% {
    width: 0px;
  }

  100% {
    width: 250px;
  }
}
