<div class="section__container">
  <div class="section">
    <div class="container__items">
      <div class="title" >
        <!-- Hamburger -->
        <div class="fa-bars-container" (click)="onClickMenu()" *ngIf="showHamburger == false">
          <i class="fas fa-bars"></i>
        </div>
        <!-- Close -->
        <div class="fa-bars-container" (click)="onClickMenu()" *ngIf="showHamburger == true">
          <i class="fas fa-times"></i>
        </div>
        <div class="label">
         <span class="click__label" (click)="onClickHome()">Ristoranti</span>
        </div>
      </div>
      <div class="plus">
        <a href="javascript:javascript:history.go(-1)">
          <p class="backContact">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z" />
            </svg>
          </p>
        </a>
      </div>
    </div>
  </div>
</div>


<div *ngIf="showHamburger" class="container__header__mobile">
  <div class="header__mobile">
    <div class="container__item">
      <div class="items" (click)="onClickHome()">
        <button class="button" >
          Home
        </button>
      </div>
      <div class="items" (click)="onClickPunteggio()">
        <button class="button" >
          Punteggio
        </button>
      </div>
    </div>
  </div>
</div>
