.title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.label {
  display: flex;
  font-size: 28px;
  font-weight: bold;
}

.item {
  font-size: 22px;

}

.items {
  width: 89%;
  margin: 15px auto;
  padding: 10px;
}
