<app-header></app-header>

<div *ngIf="getDataService.filterServizio">
  <div class="title">
    <span class="label">Servizio</span>
  </div>
  <div *ngFor="let r of response" class="items">
    <span class="item">{{r.nomePersona}}: {{r.servizio}}</span>
    <hr>
  </div>
</div>

<div *ngIf="getDataService.filterPrezzo">
  <div class="title">
    <span class="label">Prezzo</span>
  </div>
  <div *ngFor="let r of response" class="items">
    <span class="item">{{r.nomePersona}}: {{r.prezzo}}</span>
    <hr>
  </div>
</div>

<div *ngIf="getDataService.filterLocation">
  <div class="title">
    <span class="label">Location</span>
  </div>
  <div *ngFor="let r of response" class="items">
    <span class="item">{{r.nomePersona}}: {{r.location}}</span>
    <hr>
  </div>
</div>

<div *ngIf="getDataService.filterMenu">
  <div class="title">
    <span class="label">Menu</span>
  </div>
  <div *ngFor="let r of response" class="items">
    <span class="item">{{r.nomePersona}}: {{r.menu}}</span>
    <hr>
  </div>
</div>



