.container__spinner {
  display: flex;
  position: absolute;
  width: 90%;
  height: calc(100vh - 200px);
  justify-content: center;
  align-items: center;
}

.container__detail__list {
  display: flex;
  width: 100%;
}

.detail__list {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}

.error {
  padding: 25px 10px;
  margin-top: 20px;
  font-size: 23px;
  border-radius: 4px;
  color: red;
  background: #ba9a9a;
}

.totale {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 30px;
}

.all {
  display: flex;
  width: 100%;
  justify-content: center;
}

.all__label {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.container__detail {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 28px;
  font-weight: bold;
}

.label__title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.item {
  font-size: 20px;
}

.items {
  font-size: 22px;
  color: blue;
  border: 2px solid #504a4a;;
  padding: 5px 10px;
  border-radius: 4px;
}

.servizio,
.menu,
.prezzo,
.location {
  margin-bottom: 30px;
}

.servizio {
  margin-top: 25px;
}

form {
  display: flex;
  width: 100%;
  margin: 25px 0;
}

select {
  border: 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  background: aliceblue;
  margin-right: 10px;
}

.button {
  border: 0;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
  background: rgb(125, 152, 175);
  margin-right: 10px;
  font-weight: bold;
}
