<app-header></app-header>

<div class="container__detail__list">
  <div class="detail__list">
    <div class="title">
      <span class="label">Punteggio</span>
    </div>
    <span class="label__title">{{title}}</span>

    <div class="container__detail">

      <form [formGroup]="data" class="datas">
        <select (change)="selectData($event, data.controls.datas.value, title)" formControlName="datas" class="select" id="edit">
          <option selected>Seleziona data</option>
          <option *ngFor="let r of dataArray">{{r}}</option>
        </select>
      </form>

      <div *ngIf="getDataService.showPoint; else spinner">
        <div class="servizio">
          <span class="item">Servizio: </span>
          <span class="items"
            (click)="onClickItems(value = 'servizio', data.controls.datas.value)">{{getDataService.totaleServizio}}</span>
        </div>
        <div class="menu">
          <span class="item">Menu: </span>
          <span class="items" (click)="onClickItems(value = 'menu', data.controls.datas.value)">{{getDataService.totaleMenu}}</span>
        </div>
        <div class="prezzo">
          <span class="item">Prezzo: </span>
          <span class="items"
            (click)="onClickItems(value = 'prezzo', data.controls.datas.value)">{{getDataService.totalePrezzo}}</span>
        </div>
        <div class="location">
          <span class="item">Location: </span>
          <span class="items"
            (click)="onClickItems(value = 'location', data.controls.datas.value)">{{getDataService.totaleLocation}}</span>
        </div>
        <div class="totale">
          <span class="total">Totale: </span>
        </div>
        <div class="all">
          <span class="all__label">{{getDataService.allData}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="container__spinner" *ngIf="spinnero">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="errore" class="error">
    NON E' DISPONIBILE NESSUN PUNTEGGIO PER QUESTO RISTORANTE
  </div>
</ng-template>
