<app-header></app-header>

<div class="container__detail__list">
  <div class="detail__list">
    <div class="title">
      <span class="label">Punteggio</span>
    </div>
    <span class="label__title">{{title}}</span>

    <div class="container__detail" *ngIf="allData; else spinner">
      <div class="servizio">
       <span class="item">Servizio: </span><span class="items">{{totaleServizio}}</span>
      </div>
      <div class="menu">
       <span class="item">Menu: </span><span class="items">{{totaleMenu}}</span>
      </div>
      <div class="prezzo">
       <span class="item">Prezzo: </span><span class="items">{{totalePrezzo}}</span>
      </div>
      <div class="location">
       <span class="item">Location: </span><span class="items">{{totaleLocation}}</span>
      </div>
      <div class="totale">
        <span class="total">Totale: </span><span>{{allData}}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="container__spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>

