<app-header></app-header>

<div class="container__detail__list">
  <div class="detail__list">
    <div class="title">
      <span class="label">Punteggio</span>
    </div>
    <span class="label__title">{{title}}</span>

    <div class="container__detail" *ngIf="allData; else spinner">
      <div class="servizio">
       <span class="item">Servizio: </span>
       <span class="items" (click)="onClickItems(value = 'servizio')">{{totaleServizio}}</span>
      </div>
      <div class="menu">
       <span class="item">Menu: </span>
       <span class="items" (click)="onClickItems(value = 'menu')">{{totaleMenu}}</span>
      </div>
      <div class="prezzo">
       <span class="item">Prezzo: </span>
       <span class="items" (click)="onClickItems(value = 'prezzo')" >{{totalePrezzo}}</span>
      </div>
      <div class="location">
       <span class="item">Location: </span>
       <span class="items" (click)="onClickItems(value = 'location')">{{totaleLocation}}</span>
      </div>
      <div class="totale">
        <span class="total">Totale: </span>
      </div>
      <div class="all">
        <span class="all__label">{{allData}}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="container__spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>

