.container__spinner {
  display: flex;
  position: absolute;
  width: 90%;
  height: calc(100vh - 200px);
  justify-content: center;
  align-items: center;
}

.container__detail__list {
  display: flex;
  width: 100%;
}

.detail__list {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
}

.totale {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 30px;
}

.all {
  display: flex;
  width: 100%;
  justify-content: center;
}

.all__label {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 35px;
  color: red;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.container__detail {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 28px;
  font-weight: bold;
}

.label__title {
  font-size: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.item {
  font-size: 20px;
}

.items {
  font-size: 22px;
  color: blue;
}

.servizio,
.menu,
.prezzo,
.location {
  margin-bottom: 20px;
}

.servizio {
  margin-top: 25px;
}
