<div class="bg">
  <!-- Header -->
  <app-header></app-header>

  <!-- Anno -->
  <div *ngIf="showYear">
    <div class="label__data__container">
      <span class="label__data">Scegli Anno</span>
    </div>
    <div class="card" *ngFor="let y of dataArray" (click)="onClickAnno(y)">
      <div class="title">
        <span class="label">{{y}}</span>
      </div>
    </div>
  </div>

  <!-- Mese -->
  <div *ngIf="showMonth">
    <div class="label__data__container">
      <span class="label__data">
        <span (click)="onClickAnnoLabel()" style="color: green; text-decoration: underline;">
          {{annoCorrente}}
        </span>
        &nbsp; -> &nbsp; Scegli Mese
      </span>
    </div>
    <div class="card" *ngFor="let m of dataArrayMonth" (click)="onClickMese(m)">
      <div class="title">
        <span class="label">{{m}}</span>
      </div>
    </div>
  </div>

</div>


<!-- Spinner -->
<div class="container__spinner" *ngIf="spinner">
  <app-spinner></app-spinner>
</div>
